@charset "UTF-8";
// style guide
// 컬러, 폰트, 폰트 크기, 자주 사용하는 css 설정

// color 변수
$color-main: #29CC5F;
$color-sub: #1A2F33;
$color-point: #1B0F99;
$color-bg: #FCFCE3;
$color-shadow: #000000;
$color-text: $color-sub;
$color-text-50: #5D6367;
$color-text-20: #CED0BF;
$color-work1: $color-main;
$color-work2: #EE404A;
$color-work3: #B10000;
$color-work4: #FEC02D;
$color-work5: #E8342F;
$color-work6: #0084F8;
$color-work7: #E6CF94;
$color-work8: #FEC82E;
$color-work9: #73C0E5;

// font include
@font-face {
    font-family: 'Timeline';
    src: url('../font/Timeline.eot');
    src: url('../font/Timeline.eot?#iefix') format('embedded-opentype'),
        url('../font/Timeline.woff2') format('woff2'),
        url('../font/Timeline.woff') format('woff'),
        url('../font/Timeline.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core Dream';
    src: url('../font/S-CoreDream-4Regular.eot');
    src: url('../font/S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/S-CoreDream-4Regular.woff2') format('woff2'),
        url('../font/S-CoreDream-4Regular.woff') format('woff'),
        url('../font/S-CoreDream-4Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core Dream';
    src: url('../font/S-CoreDream-9Black.eot');
    src: url('../font/S-CoreDream-9Black.eot?#iefix') format('embedded-opentype'),
        url('../font/S-CoreDream-9Black.woff2') format('woff2'),
        url('../font/S-CoreDream-9Black.woff') format('woff'),
        url('../font/S-CoreDream-9Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

// font-size
$font-size-m: 20px;
$line-height-m: 28px;

// 전환 시간
$tTime: 0.3s;
